<div class="chart-container">
  <canvas id="MyChart">{{ chart }}</canvas>
</div>

<div class="row">
  <div class="col">
    <app-add-user (add)="addUser(oddUsers, $event)"></app-add-user>
    <app-user-list
      (add)="addUser(oddUsers, $event)"
      [users]="oddUsers"
      [usersCluster]="'Boss'"
    ></app-user-list>
  </div>
  <div class="col">
    <app-add-user (add)="addUser(evenUsers, $event)"></app-add-user>
    <app-user-list
      [users]="evenUsers"
      [usersCluster]="'Workers'"
    ></app-user-list>
  </div>
</div>
