<p>add-cv works!</p>
<form [formGroup]="form">
  Name:
  <input type="text" class="form-control" formControlName="name" />
  <div
    *ngIf="form.get('name')?.errors && form.get('name')?.touched"
    class="alert alert-danger"
  >
    Ce champ est obligatoire
  </div>
  Firstname:
  <input type="text" class="form-control" formControlName="firstname" /> Age:
  <input type="text" class="form-control" formControlName="age" /> Cin:
  <input type="text" class="form-control" formControlName="cin" />
  <div
    *ngIf="cin?.errors && cin?.touched"
    class="alert alert-danger"
  >
    <div *ngIf="cin?.errors?.['required']">Ce champ est obligatoire</div>
    <div *ngIf="cin?.errors?.['cinInvalidLength']">Le CIN doit contenir exactement 8 caractères</div>
    <div *ngIf="cin?.errors?.['cinNotNumerical']">Le CIN doit contenir uniquement des chiffres</div>
    <div *ngIf="cin?.errors?.['cinNotUnique']">Ce CIN est déjà utilisé</div>
    <div *ngIf="cin?.errors?.['cinAgeCorrelation']">
      Les deux premiers chiffres du CIN ne correspondent pas à l'âge
    </div>
  </div>
  <div
    *ngIf="
      form.errors && form.errors['cinFirstCars'] && cin?.touched && age?.touched
    "
    class="alert alert-danger"
  >
    Cette Cin est invalide
  </div>
  Job: <input type="text" class="form-control" formControlName="job" /> Path:
  <input type="text" class="form-control" formControlName="path" />

  <button [disabled]="form.invalid" class="btn btn-primary" (click)="addCv()">
    add cv
  </button>
</form>
{{ form.errors | json }}
