<div class="row">
  <div class="col">
    <div class="alert alert-warning">
      {{ date | date : "full" | uppercase }}
    </div>
    <app-list [cvs]="cvs"></app-list>
  </div>
  <div class="col">
    <app-cv-card [cv]="selectedCv"></app-cv-card>
  </div>
</div>
@if (embauchees.length > 0) {
  
  @defer (on viewport) {
    <app-embauche></app-embauche>
  } 
  @placeholder {
    <div class="alert alert-info">Chargement...</div>
  }

} @else {
  <div class="alert alert-info">
     Les embauchées s'afficheront ici
  </div>
}
