<div class="row">
  <div class="col">
    <div class="alert alert-warning">
      {{ date | date : "full" | uppercase }}
    </div>
    <app-list [cvs]="cvs"></app-list>
  </div>
  <div class="col">
    <app-cv-card [cv]="selectedCv"></app-cv-card>
  </div>
</div>
@if (embauchees.length > 0) {

  @defer (on viewport; prefetch on immediate) {
    <app-embauche></app-embauche>
  } 
  @loading {
    <div class="alert alert-info">Chargement en cours...</div>
  }
  @placeholder {
    <div class="alert alert-secondary mt-2">
      Liste des embauchées
    </div>
  }

} @else {
  <div class="alert alert-light mt-2">
    <p>Aucun CV sélectionné pour l'embauche.</p>
  </div>
}