<ng-container *ngIf="allProducts() as productsList; else loading">

  <button class="btn btn-primary mb-3" 
          (click)="loadMoreProducts()" 
          [disabled]="noMoreProducts() || isLoading()">
    More Products
  </button>

  <div class="alert alert-danger mt-3" *ngIf="noMoreProducts()">
    No more products to load.
  </div>

  <div class="alert alert-warning mt-3">
    Products Number: {{ productsList.length }}
  </div>

  <div class="row">
    <div class="col-4 mb-3" *ngFor="let product of productsList">
      <div class="product-card">
        <img class="product-img" [src]="product.thumbnail" [alt]="product.title">
        <div class="product-title">{{ product.title }}</div>
        <div class="product-meta">
          <div class="product-price">$ {{ product.price }}</div>
          <div class="product-category">{{ product.category }}</div>
        </div>
      </div>
    </div>
  </div>

</ng-container>

<ng-template #loading>
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</ng-template>
